<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ed3309df-a6bb-4d99-ba13-d352f8e7d2d1" Alias="articles" Level="1">
  <Info>
    <Name>Articles</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Folder holding the news articles.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure>
    <ContentType Key="3056ddc9-9d8c-4a48-a8cf-64105023fc76" SortOrder="0">article</ContentType>
    <ContentType Key="ed3309df-a6bb-4d99-ba13-d352f8e7d2d1" SortOrder="1">articles</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>