<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cc364eaf-944c-4964-8a06-61927c5b3a29" Alias="start" Level="1">
  <Info>
    <Name>Start</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="a3b0e1d8-8b7b-48d0-b84b-3b913ea67146">base</Composition>
    </Compositions>
    <DefaultTemplate>Start</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3f1e7824-78cc-484c-864d-90e25f12c90c">Start</Template>
    </AllowedTemplates>
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure>
    <ContentType Key="1c121fe7-5b22-4651-ade4-1e2b4ca9c514" SortOrder="0">settings</ContentType>
    <ContentType Key="ed3309df-a6bb-4d99-ba13-d352f8e7d2d1" SortOrder="1">articles</ContentType>
    <ContentType Key="a97dd1d3-c8a1-4a8f-94f2-16c02d5f5909" SortOrder="2">login</ContentType>
    <ContentType Key="783208f3-b0bd-4b0f-9465-64c2d9ee1c7b" SortOrder="3">error</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>efe764db-bab3-4aeb-83aa-2133c22d22ed</Key>
      <Name>Content</Name>
      <Alias>contentBlocks</Alias>
      <Definition>da7a0001-0000-4000-8000-000000000001</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The blocks shown in the left column.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cc364eaf-944c-4964-8a06-61927c5b3aa8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>