<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da7a0001-0000-4000-8000-000000000004" Alias="NDSTK - Meta robots" Level="1">
  <Info>
    <Name>NDSTK - Meta robots</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "INDEX,FOLLOW",
    "INDEX,NOFOLLOW",
    "NOINDEX,FOLLOW",
    "NOINDEX,NOFOLLOW"
  ],
  "multiple": false
}]]></Config>
</DataType>