<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da7a0001-0000-4000-8000-000000000003" Alias="NDSTK - Header menu picker" Level="1">
  <Info>
    <Name>NDSTK - Header menu picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 0,
  "minNumber": 0
}]]></Config>
</DataType>