<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0117e17-0000-4000-8000-000000000005" Alias="404" Level="2">
  <Info>
    <Parent Key="c0117e17-0000-4000-8000-000000000001">Start</Parent>
    <Path>/Start/</Path>
    <Trashed>false</Trashed>
    <ContentType>error</ContentType>
    <CreateDate>2026-08-21T09:09:57</CreateDate>
    <NodeName Default="404" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6e7f09a6-b03e-4f67-b67d-afb1bef71f87">Error</Template>
  </Info>
  <Properties>
    <heading>
      <Value><![CDATA[Sidan kan inte hittas]]></Value>
    </heading>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaRobots>
      <Value><![CDATA[[
  "NOINDEX,NOFOLLOW"
]]]></Value>
    </metaRobots>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <text>
      <Value><![CDATA[Sidan du letar efter finns inte längre. Prova startsidan istället.]]></Value>
    </text>
  </Properties>
</Content>