<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0117e17-0000-4000-8000-000000000003" Alias="Articles" Level="2">
  <Info>
    <Parent Key="c0117e17-0000-4000-8000-000000000001">Start</Parent>
    <Path>/Start/Articles</Path>
    <Trashed>false</Trashed>
    <ContentType>articles</ContentType>
    <CreateDate>2026-08-21T09:09:56</CreateDate>
    <NodeName Default="Articles" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>