<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbb1d2d9-48ea-489f-8e54-fa7396a51667" Alias="Congrats to Our Doubles Champions" Level="3">
  <Info>
    <Parent Key="c0117e17-0000-4000-8000-000000000003">Articles</Parent>
    <Path>/Start/Articles/CongratsToOurDoublesChampions</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-08-21T09:09:57</CreateDate>
    <NodeName Default="Congrats to Our Doubles Champions" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="873307ad-a321-492a-9cac-17cfa0a388f8">Article</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[<p>Huge congratulations to our doubles champions — a fantastic display of skill and teamwork.</p>]]></Value>
    </body>
    <heading>
      <Value><![CDATA[Congrats to Our Doubles Champions]]></Value>
    </heading>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaRobots>
      <Value><![CDATA[]]></Value>
    </metaRobots>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <publishDate>
      <Value><![CDATA[2025-10-10T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[Huge congratulations to our doubles champions — a fantastic display of skill and teamwork.]]></Value>
    </summary>
    <tags>
      <Value><![CDATA[[
  "Tennis",
  "Events"
]]]></Value>
    </tags>
  </Properties>
</Content>