<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0117e17-0000-4000-8000-000000000004" Alias="Logga in" Level="2">
  <Info>
    <Parent Key="c0117e17-0000-4000-8000-000000000001">Start</Parent>
    <Path>/Start/LoggaIn</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2026-08-21T09:09:57</CreateDate>
    <NodeName Default="Logga in" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="90fb6c48-3265-44be-a980-853595d75eb7">Login</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Skanna QR-koden med BankID-appen för att logga in som medlem.]]></Value>
    </description>
    <heading>
      <Value><![CDATA[Logga in med BankID]]></Value>
    </heading>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaRobots>
      <Value><![CDATA[]]></Value>
    </metaRobots>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <subText>
      <Value><![CDATA[Väntar på BankID...]]></Value>
    </subText>
  </Properties>
</Content>