<?xml version="1.0" encoding="utf-8"?>
<Content Key="c88cb3a5-de49-4c3f-8580-7a5de424cda7" Alias="New Season Kickoff Event" Level="3">
  <Info>
    <Parent Key="c0117e17-0000-4000-8000-000000000003">Articles</Parent>
    <Path>/Start/Articles/NewSeasonKickoffEvent</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-08-21T09:09:56</CreateDate>
    <NodeName Default="New Season Kickoff Event" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="873307ad-a321-492a-9cac-17cfa0a388f8">Article</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[<p>Join us for the NDSTK season kickoff this Saturday! Matches, fun games, and prizes await all members.</p>]]></Value>
    </body>
    <heading>
      <Value><![CDATA[New Season Kickoff Event]]></Value>
    </heading>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaRobots>
      <Value><![CDATA[]]></Value>
    </metaRobots>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <publishDate>
      <Value><![CDATA[2025-11-03T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[Join us for the NDSTK season kickoff this Saturday! Matches, fun games, and prizes await all members.]]></Value>
    </summary>
    <tags>
      <Value><![CDATA[[
  "Tennis",
  "Events"
]]]></Value>
    </tags>
  </Properties>
</Content>