<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0117e17-0000-4000-8000-000000000001" Alias="Start" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Start</Path>
    <Trashed>false</Trashed>
    <ContentType>start</ContentType>
    <CreateDate>2026-08-21T09:09:56</CreateDate>
    <NodeName Default="Start" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f1e7824-78cc-484c-864d-90e25f12c90c">Start</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e1e50001-0000-4000-8000-000000000001",
      "key": "503fed3f-9395-4250-a234-7efc932a449e",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Norra Djurg\u00E5rdsstadens Tennisklubb"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Bli medlem och st\u00F6d det lokala f\u00F6reningslivet. Kostnaden \u00E4r endast 200 sek. De 20 f\u00F6rsta medlemmarna f\u00E5r en t-shirt gratis."
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Bli medlem",
              "url": "#members",
              "type": "external",
              "target": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "e1e50001-0000-4000-8000-000000000003",
      "key": "e87e3fdf-e65d-456a-b1a6-31cf820ab875",
      "values": [
        {
          "alias": "source",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/c0117e17000040008000000000000003"
        },
        {
          "alias": "maxItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "503fed3f-9395-4250-a234-7efc932a449e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e87e3fdf-e65d-456a-b1a6-31cf820ab875",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "503fed3f-9395-4250-a234-7efc932a449e",
        "settingsKey": null
      },
      {
        "contentKey": "e87e3fdf-e65d-456a-b1a6-31cf820ab875",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </contentBlocks>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[Norra Djurgårdsstadens Tennisklubb - bli medlem och stöd det lokala föreningslivet.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaRobots>
      <Value><![CDATA[[
  "INDEX,FOLLOW"
]]]></Value>
    </metaRobots>
    <metaTitle>
      <Value><![CDATA[NDSTK - Tennisklubben i Norra Djurgårdsstaden]]></Value>
    </metaTitle>
  </Properties>
</Content>