<?xml version="1.0" encoding="utf-8"?>
<Content Key="bfa1dc66-0733-4309-b30e-e556a7b2f61c" Alias="Summer Training Sessions Open" Level="3">
  <Info>
    <Parent Key="c0117e17-0000-4000-8000-000000000003">Articles</Parent>
    <Path>/Start/Articles/SummerTrainingSessionsOpen</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-08-21T09:09:56</CreateDate>
    <NodeName Default="Summer Training Sessions Open" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="873307ad-a321-492a-9cac-17cfa0a388f8">Article</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[<p>We’ve opened registration for our summer sessions — all levels welcome! Reserve your spot early.</p>]]></Value>
    </body>
    <heading>
      <Value><![CDATA[Summer Training Sessions Open]]></Value>
    </heading>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaRobots>
      <Value><![CDATA[]]></Value>
    </metaRobots>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <publishDate>
      <Value><![CDATA[2025-10-20T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[We’ve opened registration for our summer sessions — all levels welcome! Reserve your spot early.]]></Value>
    </summary>
    <tags>
      <Value><![CDATA[[
  "Tennis",
  "Events"
]]]></Value>
    </tags>
  </Properties>
</Content>